.banner{
    background-size: cover;
    height: 548px;
    color: #fff;
}

.container{
    padding-top: 260px;
    height: 180px;
    padding-left: 35px;


}
.title{
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: .3rem;
}


.button{
    color: #fff;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius:5px;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    background-color: rgba(51, 51, 51, .5);
    cursor: pointer;
    margin-right: 1rem;
    text-transform: capitalize;
    transition: .3s ease-in-out;
}

.button:hover{
    color: #000;
    background-color:#e6e6e6 ;
}
.description{
    width: 45rem;
    line-height: 1.5;
    padding-top: 1rem;
    font-size: 16px;
    height: 150px;
    max-width: 600px;
    overflow-y: scroll;
    
}
.description::-webkit-scrollbar{
    display: none;
}
.fade{
    height: 7.4rem;
    background: linear-gradient(180deg,transparent,rgba(37,37,37,.61),#111);
}